.accordion {
    transition: max-height 0.3s ease-out;
}


.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 50px;
    margin-right: auto;
    border-bottom: 3px solid #888888;
    border-right: 3px solid #888888;
    content: '';
    transition: transform .3s;
}

.accordion[open] summary::after {
    transform: rotate(225deg);
}

.content {
    transition: transform .3s;
}

.accordion[open] .content {
    transform: translate(0px, 15px);
}