.button {
    /* max-width: 300px; */
    text-decoration: none;
    width: 300px;
    padding: 2em;
    border: none;
    border-radius: .5rem;
    color: #888888;
    font-size: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.button_container {
    margin: 50px auto
}

.blue {
    background: linear-gradient(296.6deg, #CDE7FF 0.36%, #F6E1FF 99.25%);
    box-shadow: -4px -4px 10px #F4F4F4, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.green {
    background: linear-gradient(296.6deg, #BAFFDE 4.36%, #E9FFBB 94.25%);
    box-shadow: -4px -4px 10px #F4F4F4, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.white {
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.github {
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 10px 0px;
    color: #fff;
    background-color: #222;
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}