.icon {
    /* height: 50px; */
    border-radius: 50%;
    background-position: 54% 36%;
    transition: .2s ease-in-out;
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}