.key {
    width: 30px;
    height: 30px;
    padding: .7em;
    border: none;
    border-radius: .5rem;
    color: #888888;
    font-size: 1rem;
    /* テキストを左寄せに設定 */
    text-align: left;
    /* テキストを上寄せに設定 */
    vertical-align: top;
    text-shadow: 1px 1px #eee;
    outline: none;
    transition: .2s ease-in-out;
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.space {
    width: 250px;
}