.select_box {
    width: 70%;
    height: 70%;
    padding: 1.2em;
    margin: 0px auto;
    border: none;
    border-radius: .5rem;
    color: #888888;
    font-size: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    transition: .2s ease-in-out;
}


.selected_card {
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.selected_dent {
    box-shadow: inset -4px -4px 10px #FFFFFF, inset 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.unselected {
    width: 65%;
    height: 65%;
}