.link {
    margin: none;
    padding: auto;
    text-decoration: none;
    color: inherit;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_container {
    width: 90%;
    max-width: 1800px;
    margin: auto;
}