.img_circle {
    height: 50px;
    border-radius: 50%;
    background-position: 54% 36%;
    /* padding: 0.8em; */
    transition: .2s ease-in-out;
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}

.user_name {
    margin-left: 15px;
}

.box {
    width: 100px;
    padding: 1.0em;
    /* margin: 30px 0px; */
    /* background: #efefef; */
    border: none;
    border-radius: 20%;
    color: #888888;
    font-size: 1rem;
    text-align: left;
    text-shadow: 1px 1px #eee;
    outline: none;
    /* cursor: pointer; */
    transition: .2s ease-in-out;
    box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px rgba(102, 102, 102, 0.3);
}